.fc-time-grid .fc-slats tbody tr {
    height: 200px; /* Adjust the height as needed */
}

.fc-selected {
  background-color: #63a69f;
}

#hmoPartnerField {
  display: none;
}

.modal-body {
  margin: 20px;
  padding: 20px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input {
  margin-top: 5px;
}

input.form-control {
  border-radius: 4px;
  padding: 10px;
}

select.form-control {
  border-radius: 4px;
  padding: 4px;
}

.btn-primary {
  border-radius: 4px;
  padding: 10px 15px;
  width: 100%;
}

.modal-header {
  background-color: #f8f8f8;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  width: 100%;
  margin-top: 20px;
  max-width: 80%; /* Adjust this value as needed */
  margin-left: auto;
  margin-right: auto;
}

.fc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.fc-button-group,
.fc-button {
  margin: 5px;
}

.fc-prev-button,
.fc-next-button {
  background-color: #f2f2f2;
  border-radius: 50%;
  padding: 8px;
  font-size: 14px;
  line-height: 1;
}

.fc-table {
  width: 100%;
  table-layout: fixed;
}

.fc-day-header {
  font-weight: bold;
  text-align: center;
}

.fc-day {
  text-align: center;
}

.fc-day-number {
  font-weight: bold;
}

.fc-event {
  background-color: #f2f2f2;
  border: none;
  border-radius: 0;
  padding: 5px;
  margin: 2px;
  white-space: normal;
  word-wrap: break-word;
}

.fc-list {
  margin-top: 20px;
}

.fc-list-item {
  padding: 10px;
  border-bottom: 1px solid #e9e9e9;
  white-space: normal;
  word-wrap: break-word;
}

.fc-list-item:last-child {
  border-bottom: none;
}

.fc-list-item-title {
  font-weight: bold;
  margin-bottom: 2px;
}

.fc-list-item-time {
  color: #888888;
  white-space: normal;
  word-wrap: break-word;
}


/* Navigation Styles */
.navbar {
    background-color: #4287f5;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-weight: bold;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.menu-icon {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none;
    margin-right: 20px;
}

.menu-toggle {
    display: none;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #c8ebff;
}

.book-appointment-btn {
    background-color: #fff;
    color: #4287f5;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
}

.book-appointment-btn:hover {
    background-color: #4287f5;
    color: #fff;
}


@media (max-width: 767px) {
  .calendar {
    max-width: 100%; /* Adjust this value as needed */
  }
  
  .navbar {
    padding: 0 10px;
  }
  
  .nav-links {
    display: none;
  }
  
  .menu-toggle {
    display: block;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .nav-links.responsive {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  
  .nav-links.responsive li {
    margin: 10px 0;
  }
  
  .book-appointment-btn {
    margin-top: 10px;
  }
}
